<footer class="container">
  <hr />
  <div class="social-links">
    {% for link in site.social-links %}
    <a href="{{ link.url | relative_url }}">
      <img src="{{ link.icon | relative_url }}" width="24px" height="24px">
    </a>
    {% endfor %}
  </div>
  <div class="nav-links">
    {% for link in site.nav-links %}
      <a href="{{ link.url | relative_url }}">
        <span style="font-size: small;">{{ link.title }}</span>
      </a>
      {% if link.url != site.me %}
      <span style="font-size: small;">&middot;</span>
      {% endif %}
    {% endfor %}
  </div>
</footer>
