.sidebar-nav {
  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    li {
      margin-left: 0;
      padding-left: 0;
      display: inline-block;
      width: 100%;
      a {
        color: rgba(255, 255, 255, 0.9);
        font-size: 0.75em;
        padding: 0.4em 0.5em;
        position: relative;
        display: block;
        &:hover {
          background-color: rgba(0, 0, 0, 0.9);
          -webkit-transition: all 0s ease;
          -moz-transition: all 0s ease;
          transition: all 0s ease;
        }
      }
      i {
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 19em;
        display: inline;
        vertical-align: middle;
      }
    }
  }
  > ul {
    > li {
      > a {
        &:after {
          content: "\f125";
          font-family: ionicons;
          font-size: 0.5em;
          width: 10px;
          color: #fff;
          position: absolute;
          right: 0.75em;
          top: 45%;
        }
      }
    }
  }
}
