img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 24px;
  height: 24px;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0077cc;
}
