footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }
  .nav-links a {
    color: #444;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
