footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  // width: 50%;
  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }
  .social-links {
    color: red;
  }
}
